.mu-appbar {
    background-color: #3f51b5;
    height:44px;
    position: fixed;
    z-index: 6;
    top:0px;
    line-height: 44px;
  }
  .mu-appbar-title span {
    display: block;
    text-align: center;
    font-size: 0.18rem;
  
  }